body {
  padding: 15px;
  margin: 40px auto;
  border-radius: 20px;
  background: rgb(169, 169, 221);
  text-align: center;
  font-family: cursive;
}
.info {
  display: flex;
  justify-content: space-evenly;
}
.info button {
  padding: 20px;
  margin-top: 50px;
  color: rgb(221, 144, 144);
}
.description {
  display: flex;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: #f1f1f3;
}
a:hover {
  color: rgb(29, 20, 161);
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: green;
}
